[tool.black]
line-length = 100
target-version = ['py311']

[tool.ruff]
line-length = 100
select = ["E","F","I","UP","B","C4","RUF"]
ignore = []

[tool.mypy]
python_version = 3.11
ignore_missing_imports = true
warn_return_any = true
warn_unused_ignores = true
